- var stylesheets = ["/static/bootstrap/dist/css/bootstrap.css"]
- var javascripts = ["/static/jquery/dist/jquery.js", "/static/bootstrap/dist/js/bootstrap.js", "/static/angular/angular.js", "/static/javascript/principal.js"]

doctype html
html(lang='en' ng-app="colegio")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Preguntas
    each stylesheet in stylesheets
      link(rel='stylesheet', href="#{stylesheet}")
    each javascript in javascripts
      script(src="#{javascript}")

    
  body(ng-controller='formulario as $fCtr')
    .container
      .row.justify-content-center
        .col-8
          h1 Hola {{ $fCtr.nombre }}
          div(ng-repeat="pregunta in $fCtr.preguntas")
            br
            h5 Ingrese pregunta  &nbsp;
            input(type="text" ng-model="$fCtr.preguntas[$index].pregunta")
            h5 Ingrese respuesta 
            textarea( rows="4" cols="50" ng-model="$fCtr.preguntas[$index].respuesta")
            a(href="#" ng-click="$fCtr.eliminarPregunta($index)") &nbsp; Eliminar pregunta
          br
          a(href="#" ng-click="$fCtr.agregarPregunta()") Agregar pregunta
